<!--
  Generated template for the SecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- Header -->
<ion-header>

  <ion-navbar color="{{pokemonDetails.type[0]}}">
    <ion-title>
      #{{pokemonDetails.id}} - {{pokemonDetails.name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<!-- Body -->
<ion-content padding (pan)="handlePan($event)">
  <ion-grid>

    <!-- Sprite Data -->
    <ion-row padding>
      <h1>Sprites</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <img src="{{pokemonDetails.images[0]}}" />
        <p>Normal</p>
      </ion-col>
      <ion-col>
        <img src="{{pokemonDetails.images[1]}}" />
        <p>Shiny</p>
      </ion-col>
    </ion-row>
    <!-- Typing Data -->
    <ion-row padding margin-top>
      <h1>Typing</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col *ngFor="let t of pokemonDetails.type">
        <img style="width: 20vw" src="../../assets/imgs/types/{{t}}.png">
      </ion-col>
    </ion-row>
    <!-- Abilities -->
    <ion-row padding margin-top>
      <h1>Abilities</h1>
    </ion-row>
    <ion-row *ngFor="let a of pokemonDetails.abilities" padding>
      <ion-col>
        <h5>{{a.name}}</h5>
        <span *ngIf="a.slot == 3" style="font-style: italic; size: 10px">Hidden</span>
        <p>{{a.desc}}</p>
      </ion-col>
    </ion-row>

    <!-- Height and Weight -->
    <ion-row padding margin-top>
      <h1>Height and Weight</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <img width="30%" src="../../assets/imgs/height.png">
        <p>{{pokemonDetails.height}} inches</p>
      </ion-col>
      <ion-col>
        <img width="30%" src="../../assets/imgs/weight.png">
        <p>{{pokemonDetails.weight}} pounds</p>
      </ion-col>
    </ion-row>
    <!-- Held Items -->
    <ion-row padding margin-top>
      <h1>Held Items</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col *ngIf="pokemonDetails.heldItems.length === 0">
        <p style="font-style: italic">{{pokemonDetails.name}} doesn't hold any Items in the wild</p>
      </ion-col>
      <ion-col *ngIf="pokemonDetails.heldItems.length !== 0">
        <div *ngFor="let t of pokemonDetails.heldItems">
          <img src="{{t.sprite}}">
          <p>{{t.name}}</p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Evolution -->
    <ion-row padding>
      <ion-col>
          <h1>Evolutions</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let evo of evolutionImgs" text-center>
      <ion-col>
        <img src="{{evo}}"/>
      </ion-col>
    </ion-row>
    <!-- Moves -->
    <ion-row>
      <h1>Moves</h1>
    </ion-row>
    <ion-row *ngFor="let move of pokemonDetails.moves" padding margin-top>
      <ion-col col-4>
        <h5>{{move.name}}</h5>
        <span>{{move.type}}</span>
      </ion-col>
      <ion-col col-8>
        <p>{{move.desc}}<br/>
          <span>Learnt at level: {{move.level}}</span>
        </p>
      </ion-col>
    </ion-row>
    <!-- Base Stats -->
    <ion-row>
      <h1>Stats</h1>
    </ion-row>
    <ion-row *ngFor="let stat of pokemonDetails.stats" padding-left>
      <ion-col col-8>
        <h5>{{stat.stat.name}}</h5>
      </ion-col>
      <ion-col col-4>
        <h5>{{stat.base_stat}}</h5>
      </ion-col>
    </ion-row>
    <!-- Base Experience and Effort -->
    <!-- <ion-list class="accordion-list">

      <ion-list-header no-lines no-padding>

        <button ion-item (click)="toggleMoves()" detail-none [ngClass]="{'section-active': movesOpen, 'section': !movesOpen}">
          <ion-icon item-left name="arrow-forward" *ngIf="!movesOpen"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="movesOpen"></ion-icon>
            Moves
        </button>
   
        <ion-list>
          
          <ion-list-header *ngFor="let move of pokemonDetails.moves" no-padding>

            <button ion-item class="child" detail-none>
              {{move.name}}
            </button>
       
          </ion-list-header>
        </ion-list>
        
      </ion-list-header>
    </ion-list> -->


    <!-- Stats -->



  </ion-grid>
</ion-content>