<!--
  Generated template for the SecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- Header -->
<ion-header>
  <ion-navbar color="{{pokemonDetails.type[0]}}">
    <ion-title>#{{pokemonDetails.id}} - {{pokemonDetails.name}}</ion-title>
  </ion-navbar>
</ion-header>

<!-- Body -->
<ion-content padding>
  <ion-grid>
    <!-- Sprite Data -->
    <ion-row padding margin-top>
      <h1>Sprites</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <img src="{{pokemonDetails.images[0]}}" />
        <p>Normal</p>
      </ion-col>
      <ion-col>
        <img src="{{pokemonDetails.images[1]}}" />
        <p>Shiny</p>
      </ion-col>
    </ion-row>
    <!-- Typing Data -->
    <ion-row padding margin-top>
      <h1>Typing</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col *ngFor="let t of pokemonDetails.type">
        <img style="width: 20vw" src="../../assets/imgs/types/{{t}}.png">
      </ion-col>
    </ion-row>
    <!-- Height and Weight -->
    <ion-row padding margin-top>
      <h1>Height and Weight</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <img width="30%" src="../../assets/imgs/height.png">
        <p>{{pokemonDetails.height}} inches</p>
      </ion-col>
      <ion-col>
        <img width="30%" src="../../assets/imgs/weight.png">
        <p>{{pokemonDetails.weight}} pounds</p>
      </ion-col>
    </ion-row>
    <!-- Held Items -->
    <ion-row padding margin-top>
      <h1>Held Items</h1>
    </ion-row>
    <ion-row text-center>
      <ion-col *ngIf="pokemonDetails.heldItems.length === 0">
        <p style="font-style: italic">{{pokemonDetails.name}} doesn't hold any Items in the wild</p>
      </ion-col>
      <ion-col *ngIf="pokemonDetails.heldItems.length !== 0">
        <div *ngFor="let t of pokemonDetails.heldItems">
          <img src="{{t.sprite}}">
          <p>{{t.name}}</p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Moves -->
    <ion-row>
      <ion-col col-11>
        <button class="toggle-menu" (click)="toggleMoves()"><h1>Moves</h1></button>
      </ion-col>
      <ion-col>
          <ion-icon item-left name="add" *ngIf="!movesOpen"></ion-icon>
          <ion-icon item-left name="close" *ngIf="movesOpen"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-list class="moves-list" [ngClass] = "{'moves-open' : movesOpen, 'moves-closed' : !movesOpen}">
      <ion-row *ngFor="let move of pokemonDetails.moves" padding margin-top>
        <ion-col col-4>
          <h5>{{move.name}}</h5>
          <span>{{move.type}}</span>
        </ion-col>
        <ion-col col-8>
          <p>{{move.desc}}<br/>
            <span>Learnt at level: {{move.level}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-list >

    <!-- Stats -->



  </ion-grid>
</ion-content>