.toggle-menu {
    width: 100%;
    text-align: left;
    background: white;
}

.moves-list {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    height: auto;
    border: solid;
}

.moves-closed {
    height: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

