<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pokemon</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <h3>Browse for a Pokemon</h3>
      <p>Type the name of a Pokemon below to bring up it's Pokedex entry.</p>
    </ion-row>
    <ion-row>
      <ion-searchbar [(ngModel)]="pokemon" [showCancelButton]="false" (ionInput)="onInput($event)">
      </ion-searchbar>
      <h5>Suggestions</h5>
      <ion-row style="width: 100%; max-height: 50vh; overflow-y: scroll;">
        <ion-list style="width: 95%">
          <ion-item *ngFor="let item of selectedPokemon; let i = index" (click)="searchForPokemon(item)">
            <span>{{ item }}</span>
          </ion-item>
          <p *ngIf="selectedPokemon.length === 0" style="font-style: italic">No suggestions, try searching for something else.</p>
        </ion-list>
      </ion-row>



    </ion-row>
    <!-- <ion-row>
      <button margin-top ion-button full (click)="searchForPokemon(pokemon)">Search</button>
    </ion-row> -->
  </ion-grid>


  <!-- <ion-item>
    <ion-label floating>Pokemon Name</ion-label>
    <ion-searchbar [(ngModel)]="pokemon" [showCancelButton]="false" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-item>
  <button margin-top ion-button full (click)="searchForPokemon(pokemon)">Search</button> -->
</ion-content>