<!--
  Generated template for the MachinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Machines</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="showAll">
    <ion-row>
      <ion-col col-2>
        <strong>No.</strong>
      </ion-col>
      <ion-col col-4>
        <strong>Name</strong>
      </ion-col>
      <ion-col col-6>
        <strong>Description</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let machine of machineDetails">
      <ion-col col-2>
        <p>{{machine.number}}</p>
      </ion-col>
      <ion-col col-4>
        <p>{{machine.name}}</p>
      </ion-col>
      <ion-col col-6>
        <p>{{machine.effect}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!showAll && machine !== undefined">
    <ion-row>
      <ion-col>
        <h1>{{machine.number}} - {{machine.name}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Description</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p style="margin-top: 0">{{machine.battleEffect}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Secondary Effect</strong><br/>
        <p>{{machine.secondaryEffect}}</p>
      </ion-col>
      <ion-col>
        <strong>Rate</strong><br/>
        <p>{{machine.secondaryEffectRate}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Type</h4>
        <p>{{machine.type}}</p>
      </ion-col>
      <ion-col>
        <h4>Kind</h4>
        <p>{{machine.kind}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Base Power</h4>
        <p>{{machine.basePower}}</p>
      </ion-col>
      <ion-col>
        <h4>Accuracy</h4>
        <p>{{machine.accuracy}}%</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Priority</h4>
        <p>{{machine.speed}}</p>
      </ion-col>
      <ion-col>
        <h4>Power Points</h4>
        <p>{{machine.pp}}</p>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>